.contactSection {
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 5vw;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid var(--border-color);
    text-align: center;
    z-index: 2; /* Agar di atas background */
    position: relative;
}

.sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--accent-color);
}

.contactText {
    font-size: 1.2rem;
    color: var(--text-light);
    margin-bottom: 3rem;
    max-width: 600px;
}

.contactLink {
    font-family: var(--font-serif);
    font-size: 2.5rem; 
    color: var(--text-light);
    margin-bottom: 3rem;
    display: inline-block;
    border-bottom: 2px solid var(--text-light);
    transition: color 0.3s ease, border-color 0.3s ease;
}

.contactLink:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.socialIcons {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.socialIcons a {
    color: var(--text-light);
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: var(--accent-color);
}
